# Archivos de Visual Studio / CUDA
**/.vs/
**/x64/
**/x86/
**/Debug/
**/Release/
**/*.vcxproj.user
**/*.user
**/*.suo
**/*.aps
**/*.pch
**/*.idb
**/*.exp
**/*.lib
**/*.dll
**/*.pdb
**/*.obj
**/*.tlog
**/*.ipch
**/*.opendb
**/*.db
**/*.db-shm
**/*.db-wal

# Configuracion Azure local
.azure/

# Variables de entorno
.env

# Dependencias de Node.js
node_modules/

# Configuracion de IDEs
.idea/
.vscode/